<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indexPage</title>
</head>
<body>
    <!-- 파일을 업로드 할때는 enctype="multipart/form-data" (action에서 작업 X) -->
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="업로드">
    </form>

    <hr>
    <h3>OCR 결과</h3>
    {% for r in results %}
        {{r}}
    {% endfor %}
</body>
</html>