<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chart5Page</title>
</head>
<body>
    <h2>성적입력 처리 그래프</h2>
    <hr>
    <p>국어 : {{kor}}</p>
    <p>영어 : {{eng}}</p>
    <p>수학 : {{math}}</p>
    <p>총점 : {{total}}</p>
    <p>평균 : {{average}}</p>
    <hr>

    <canvas id="chart1"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>//script에서 끝날때는 반드시 세미콜론(;)
        const ctx = document.getElementById("chart1");

        new Chart(ctx,{
            type:"bar",
            data:{
                labels:["국어", "영어", "수학", "총점", "평균"],
                datasets:[{
                    label:"점수",
                    data:[{{kor}},{{eng}},{{math}},{{total}},{{average}}],
                    borderWidth:1
                }]
            },
            Options:{
                //브라우저크기에 맞추어서 출력
                reponsive:true,
                Plugins:{
                    title:{
                        //제목출력
                        display:true,
                        Text : "성적차트",
                        font:{
                            size:20
                        }
                    }
                }
            },
            scales:{
                y:{
                    beginAtZero:true,
                    title:{
                        display:true,
                        text:"점수"
                    }
                },
                x:{
                    title:{
                        display:true,
                        text:"과목및총점/평균"
                    }
                }
            }
        });

    </script>

</body>
</html>