<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indexPage</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="업로드">
    </form>
<br>
<hr>
<br>
    <form action="{{url_for('cal')}}" method="post">
        <input type="text" name="kor" value="{{results[0]}}" readonly>
        <input type="text" name="eng" value="{{results[1]}}" readonly>
        <input type="text" name="math" value="{{results[2]}}" readonly>

        <input type="submit" value="학점계산">
    </form>
</body>
</html>