<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menuPage</title>
</head>
<body>
    <h2>메인메뉴</h2>
    <hr>
        <form action="/menu" method="post">
            <table align="center" border="1">
                <tr>
                    <th colspan="2" align="center">
                        메인메뉴
                    </th>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        1. 성적입력
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        2. 성적전체조회
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        3. 아이디로조회
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        4. 한명정보수정
                    </td>
                </tr>

                <tr>
                    <th>
                        선택
                    </th>
                    <td>
                        <input type="number" name="select" required placeholder="예시 1">
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="전송">
                        <input type="reset" value="리셋">
                    </td>
                </tr>
            </table>
        </form>
    <hr>
</body>
</html>