<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>updateByIdPage</title>
</head>
<body>
    <h2>한명수정</h2>
    <hr>
        <form action="/updateById" method="post">
            <table align="center" border="1">
                <tr>
                    <th colspan="2" align="center">한명수정</th>
                </tr>

                <tr>
                    <th>ID</th>
                    <td>
                        <input type="number" name="id">
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="전송">
                        <input type="reset" value="리셋"> 
                    </td>
                </tr>
            </table>
        </form>
    <hr>
    <a href="/">[ 전페이지로 돌아가기 ]</a>
</body>
</html>